.container {
    margin-bottom: 36px;
}
.date-picker {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

input[type="text"] {
    max-width: 272px;
    margin-left: 156px;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 8px;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    border: 1px solid #808080;
    border-radius: 4px;
    outline: none;
    transition: border-color var(--time) var(--cudic);
}


    
input[type="text"]:hover,
input[type="text"]:focus {
    border-color: #000;
}
    
input[type="text"]:active {
    border-color: #4e75ff;
}
    
input[type="text"]:disabled {
    background-color: #fafafa;
    color: #808080;
    border-color: #808080;
}
    

input:disabled:hover {
    cursor: not-allowed;
}

button[type="button"] {
    max-width: 75px;border: none;
    background-color: #4E75FF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 8px;
    padding: 8px 16px;
    height: 40px;
}
button:disabled {
    cursor: not-allowed;
    background-color: #CFCFCF;
    color: #989898;
}
button:disabled:hover {
    background-color: #CFCFCF;
        color: #989898;
}
.timer {
    display: flex;
    max-width: 346px;
    align-items: center;
    gap: 24px;
    margin-left: 156px;
    margin-top: 32px;
}
.field {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #2e2f42;
    
}
.value {
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.04em;
}
.label {
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;

}